<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template consumed by scripts/install-mac-app; __CODON_*__ tokens are
     stamped at bundle time. -->
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>codon</string>
    <key>CFBundleIdentifier</key>
    <string>dev.codon.Codon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Codon</string>
    <key>CFBundleDisplayName</key>
    <string>Codon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>__CODON_VERSION__</string>
    <key>CFBundleVersion</key>
    <string>__CODON_BUILD__</string>
    <key>CodonGitSha</key>
    <string>__CODON_GIT_SHA__</string>
    <key>CFBundleIconFile</key>
    <string>Codon</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>10.15.7</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Codon</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>codon</string>
            </array>
        </dict>
    </array>
    <key>NSSystemAdministrationUsageDescription</key>
    <string>The operation being performed by a program in Codon requires elevated permission.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>An application in Codon wants to use AppleScript.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>An application in Codon wants to use Bluetooth.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>An application in Codon wants to use Calendar data.</string>
    <key>NSCameraUsageDescription</key>
    <string>An application in Codon wants to use the camera.</string>
    <key>NSContactsUsageDescription</key>
    <string>An application in Codon wants to use your contacts.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>An application in Codon wants to use your location information, even in the background.</string>
    <key>NSLocationUsageDescription</key>
    <string>An application in Codon wants to use your location information.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>An application in Codon wants to use your location information while active.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>An application in Codon wants to use your microphone.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>An application in Codon wants to use speech recognition.</string>
    <key>NSRemindersUsageDescription</key>
    <string>An application in Codon wants to use your reminders.</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconFile</key>
            <string>Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.folder</string>
                <string>public.plain-text</string>
                <string>public.text</string>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeIconFile</key>
            <string>Document</string>
            <key>CFBundleTypeName</key>
            <string>Codon Text Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>****</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>Gemfile</string>
                <string>c</string>
                <string>c++</string>
                <string>cc</string>
                <string>cpp</string>
                <string>css</string>
                <string>erb</string>
                <string>ex</string>
                <string>exs</string>
                <string>go</string>
                <string>h</string>
                <string>h++</string>
                <string>hh</string>
                <string>hpp</string>
                <string>html</string>
                <string>js</string>
                <string>json</string>
                <string>jsx</string>
                <string>md</string>
                <string>py</string>
                <string>rb</string>
                <string>rkt</string>
                <string>rs</string>
                <string>scm</string>
                <string>toml</string>
                <string>ts</string>
                <string>tsx</string>
                <string>txt</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
